         <!--  ====================== Call To Action Start =============================  -->
         <section class="call-to-area mt-16">
            <div class="container border-y border-gray-400 dark:border-green-500 border-opacity-[40%] py-10">
               <div class="call-to-main-box max-w-[560px] m-auto text-center">
                  <div class="call-title">
                     <h2 class="lg:text-5xl md:text-4xl text-3xl font-semibold  dark:text-white uppercase"><span class="text-green-500">30%</span> Cash back, join our membership</h2>
                  </div>
                  <div class="call-to-description">
                     <p class="mt-4">The was know finger. For or of however to in for instead needs text back many of acting..</p>
                  </div>
                  {% include call-to-form.html %}
               </div>
            </div>
         </section>
         <!--  ====================== Call To Action End =============================  -->