<form class="form-box" action="https://submit-form.com/uXM4mBqv" method="POST">
    <div class="flex flex-wrap sm:flex-nowrap gap-3 items-cente mt-7">
       <input class="border border-gray-400 dark:border-green-500  bg-transparent  w-full h-[60px] max-h-[60px] dark:text-white border-opacity-[40%]  p-3  focus:outline-none" type="text" placeholder="ENTER YOUR EMAIL" aria-label="ENTER YOUR EMAIL" required>
       <button  class="flex-shrink-0 w-full sm:w-auto h-[60px] max-h-[60px] outline-none bg-green-500 hover:bg-transparent text-white border  border-green-500 py-4 px-7 hover:text-dark-800 dark:hover:text-white uppercase font-medium duration-500">
       SUBSCRIBE
       </button>
    </div>
 </form>