<div class="card-item  post-item lg:p-16">
   <div class="card-images">
      <a href="{{post.url}}"><img  class="w-full  " src="{{post.post_image}}" alt="{{post.title}}"></a>
   </div>
   <div class="main-content-box">
      <div class="card-bottom flex items-center gap-4 mt-4">
         <div class="tag-box ">
            {% for category in post.categories limit:1 %}
            <a class="flex items-center gap-4 hover:text-green-500 duration-500  uppercase" href="{{'/category/' | relative_url}}{{ category | slugify }}">
            {% if post.post_featured_icon %}
            <img class="w-7 h-7" src="{{post.post_featured_icon}}" alt="{{page.title}}">
            {% endif %}
            {{category | capitalize }}
            {% endfor %}
            </a>
         </div>
         <div class="point-box flex">
            <span>
               <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="4" cy="4" r="4" fill="#5083f9"></circle>
               </svg>
            </span>
         </div>
         <div class="date-box uppercase">
            <p> {{post.date  | date: "%-d %B %Y"}}</p>
         </div>
      </div>
      <div class="content-main-box mt-4 flex flex-col gap-6">
         <h2 class="md:text-3xl text-2xl font-semibold dark:text-white  uppercase "> <a class="dark:hover:text-green-500 hover:underline duration-500 decoration-[3px]" href="{{post.url}}">{{post.title}} </a>  </h2>
         <p>{{post.excerpt}}</p>
         <div class="button-box">
            <a class="inline-block font-medium uppercase dark:hover:text-green-500 hover:underline duration-500" href="{{post.url}}">read more</a>
         </div>
      </div>
   </div>
</div>